@import url(http://fonts.googleapis.com/css?family=Limelight);
@font-face {
  font-family: 'genealabs';
  src: url("/packages/genealabs/bones-keeper/fonts/genealabs.eot?95891505");
  src: url("/packages/genealabs/bones-keeper/fonts/genealabs.eot?95891505#iefix") format("embedded-opentype"), url("/packages/genealabs/bones-keeper/fonts/genealabs.woff?95891505") format("woff"), url("/packages/genealabs/bones-keeper/fonts/genealabs.ttf?95891505") format("truetype"), url("/packages/genealabs/bones-keeper/fonts/genealabs.svg?95891505#genealabs") format("svg");
  font-weight: normal;
  font-style: normal; }

.selectize-input > div {
  background: none !important; }

.panel-group .panel {
  overflow: visible !important; }
